<!DOCTYPE html>
<html lang="en">

<head>
    <title>PyBoard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

</head>

<body>
    <div class="row-fluid">
        <div class="column sidebar">
            <h1>PyBoard</h1>
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                Project
            </button>
            <div class="dropdown-menu" id='projectsDropdown'>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#browseModal">Find Projects</a>
                <div class="dropdown-divider"></div>
            </div>
                
            
            <div class="slidecontainer">
                <p>Zoom</p>
                <input type="range" min="1" max="6" value="4" class="slider" id="zoomSlider">
            </div>
            
        </div>
        <div class="column main">
            <div class="modal" id="browseModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                    
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Find your project</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        
                        <!-- Modal body -->
                        <div class="modal-body">
                         
                            
                            <input type="file" id="fileIn" class="form-control-file border" name="file">
                            
                            <button type="submit" id="btnSub" class="btn"> Submit</button>
                        </div>
                        
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal" style="background-color: #FF7F11; color: #F5FAEF">Close</button>
                        </div>
                    
                    </div>
                </div>
            </div>
            <div class="flex-container" id="plotContainer">
            </div>

        </div>
    </div>
    <script src = "{{ url_for('static', filename='javascript/pyboard.js') }}"></script>
</body>

</html>